*{
	margin:0px;
	padding:0px;
	font-family: 'Poppins', sans-serif;
}
.form-component{
	width:1300px;
	margin:50px auto;
	box-sizing:border-box;
	margin-bottom:30px;
}
#form{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap:10px;
	box-sizing:border-box;
}
.form-component input{
	outline:0px;
	border:1px solid #d6d6d6;
	width:205px;
	font-size:12px;
	border-radius:4px;
	padding:10px;
	box-sizing:border-box;
}
#submit{
	cursor:pointer;	
	background-color:#eff2f7;
}
#edit{
	cursor:pointer;	
	background-color:#dde2ea;
}
.tab-container{
	margin:0px auto;
	padding:15px;
	width:100%;
	box-sizing:border-box;
}
.tab-container h1{
	font-size:23px;
	color:#3b445d;
	font-weight:700;
}
.tab-title{
	margin:0px auto 20px auto;
	width:1300px;
	display:grid;
	grid-template-columns:1fr 1fr;
}
.del, .edit{
	cursor:pointer;
}
#export{
	text-align:right;
	color:#383838;
	font-size:13px;
	cursor:pointer;
	position:relative;
	top:13px;
}
.tabular{
	margin:0px auto;
	width:1300px;
	height:521px;
	overflow:scroll;
	overflow-x:hidden;
}
table{
	width:100%;
	text-align:left;
	border-collapse:collapse;
	background-color:white;
	border:1px solid #ececec;
}
td, th{
	padding:15px 20px;
	font-size:14px;
	box-sizing:border-box;
	color:#5f5f5f;
}
th{
	color:#3c3c3c !important;
}
tr{
	border-bottom:1px solid #ececec;
}
tr:first-child{
	background-color:#eff2f7;
}
tr a{
	color:#3c3c3c;
	text-decoration:none;
}
#shift{
	color:#c1c1c1;
	font-size:14px;
	width:100%;
	text-align:center;
	padding:20px;
	box-sizing:border-box;
	padding-bottom:0px;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#c0c1c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0c1c1;
}
